<div id="footer-god2" class="copyright-area copyright"  style="padding:20px 0;background-image: linear-gradient( 
   60deg, #242c35 0%, #3f4a57 100%);">
  <div class="container"  >
     <div class="row">
        <div class="col-xl-6 col-lg-6 text-center text-lg-left">
           <div class="copyright-text">
              <p>Copyright &copy; 2021, All Right Reserved <a href="/main">The Grind Geeks</a></p>
           </div>
        </div>
        <div class="col-xl-6 col-lg-6 d-none d-lg-block text-right">
           <div class="footer-menu footer-menu" >
              <ul>
                 <li> <a class="social-icon" href = "/mailto: khanmuzzama0786@gmail.com"><i class="fas fa-envelope"></i></a></li>
                 <li> <a class="social-icon" href="https://www.facebook.com/profile.php?id=100010698900629"
                    target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                 <li>  <a class="social-icon" href="https://www.instagram.com/shaan_khannn/"
                    target="_blank"><i class="fab fa-instagram"></i></a></li>
                 <li>  <a class="social-icon" href="https://www.linkedin.com/in/shaankhan2/"
                    target="_blank"><i class="fab fa-linkedin-in"></i></a></li>
                 <li>  <a class="social-icon" href="https://github.com/NzkFalconet"
                    target="_blank"><i class="fab fa-github"></i></a></li>
              </ul>
           </div>
        </div>
     </div>
  </div>
</div>
</footer>