<%- include('partials/header') %>
<%- include('partials/nav') %>

<div class="about" >
    <h1>About</h1>
    <p style="color: #fff; word-spacing:2px;letter-spacing: 0.2px;text-align: justify;">The Website Is Made For Educational Purposes As Well As Other Queries Regarding Examinations, Jobs And Other By An Ethnic Group Of People And Does Not Aims To Discriminate On The Basis Of Caste,Creed, Color And Religion 
        And Does Not Acts As A Platform For Circulating Hate Speeches Or Adult Content.
      <br> 1.
You must retain the above credit. Use of this document without the credit is an infringement of copyright. However, you can purchase from us an equivalent document that does not include the credit.
<br> 2.	Copyright notice
2.1	Copyright (c) [year(s) of first publication] [full name].
2.2	Subject to the express provisions of this notice:
(a)	we, together with our licensors, own and control all the copyright and other intellectual property rights in our website and the material on our website; and
(b)	all the copyright and other intellectual property rights in our website and the material on our website are reserved.
<br> 3.	Copyright licence
3.1	You may:
(a)	view pages from our website in a web browser;
(b)	download pages from our website for caching in a web browser;
(c)	print pages from our website;
(d)	[stream audio and video files from our website]; and
(e)	[use [our website services] by means of a web browser],
	subject to the other provisions of this notice.
3.2	Except as expressly permitted by the other provisions of this notice, you must not download any material from our website or save any such material to your computer.
3.3	You may only use our website for [[your own personal and business purposes]] OR [[define purposes]]; you must not use our website for any other purposes.
3.4	Except as expressly permitted by this notice, you must not edit or otherwise modify any material on our website.
3.5	Unless you own or control the relevant rights in the material, you must not:
(a)	republish material from our website (including republication on another website);

    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi distinctio iste quasi doloribus minus ab dolores deserunt culpa dolore, tempore obcaecati quia vitae necessitatibus. Omnis suscipit debitis nobis quos.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores commodi distinctio iste quasi doloribus minus ab dolores deserunt culpa dolore, tempore obcaecati quia vitae necessitatibus. Omnis suscipit debitis nobis quos.</p> -->
</div>

<%- include('partials/footer') %>